{% extends "admin/base.html" %}
{% load i18n static admin_style_tags %}

{% block extrastyle %}
{{ block.super }}
{% include 'admin/inc/extrastyle.html' %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_simple_admin_style/css/djangocms-simple-admin.min.css' %}" />
{% endblock extrahead %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}
{% block content_subtitle %}{{ block.super }}
{% if request.user.is_superuser %}{% render_update_notification %}{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block bodyclass %}{% admin_theme_class %}{% if block.super %} {{ block.super }}{% endif %}{% endblock %}
