{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
{% include 'admin/inc/extrastyle.html' %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_simple_admin_style/css/djangocms-simple-admin.min.css' %}" />
{% endblock extrahead %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block bodyclass %}{{ block.super }} djangocms-simple-admin-style{% endblock %}
