/* =============================================================================
   CSS VARIABLES & THEMING
   ============================================================================= */

:root, body {
    --font-family-primary: Helvetica, Arial, sans-serif;

    --button-radius: var(--dca-btn-radius);
    --cards-border-radius: var(--dca-border-radius);

    --primary: var(--dca-primary);
    --secondary: var(--dca-white);
    --accent: var(--dca-action-bg);
    --primary-fg: var(--dca-white);

    --body-fg: var(--dca-black);
    --body-bg: var(--dca-white);

    --header-color: #f7f7f7;
    --header-branding-color: white;
    --header-bg: var(--dca-secondary);
    --header-link-color: var(--dca-black);

    --breadcrumbs-fg: var(--dca-gray);
    --breadcrumbs-link-fg: var(--dca-primary);
    --breadcrumbs-bg: var(--dca-gray-lightest);

    /* --link-fg: color-mix(in srgb, var(--dca-primary), var(--dca-secondary) 40%); */
    --link-fg: var(--dca-gray);
    /* --link-hover-color: hsl(from var(--dca-primary) calc(h + 10) s l); */
    --link-hover-color: color-mix(in srgb, var(--link-fg), var(--dca-white) 30%);
    --link-selected-fg: var(--dca-primary);

    --hairline-color: var(--dca-gray-lightest);
    --border-color: var(--dca-gray-lighter);

    --message-success-bg: var(--dca-secondary);
    --error-fg: var(--dca-red);

    --darkened-bg: var(--dca-gray-lightest); /* A bit darker than --body-bg */
    /*--selected-bg: #e4e4e4; !* E.g. selected table cells *!*/
    --selected-row: var(--dca-secondary);

    --button-fg: var(--dca-gray-darker);
    --button-bg: var(--dca-white);
    --button-hover-bg: color-mix(in srgb, var(--dca-secondary) 50%, var(--dca-white));
    --default-button-fg: var(--dca-action-text);
    --default-button-bg: var(--dca-action-bg);
    --default-button-hover-bg: color-mix(in srgb, var(--dca-action-bg), var(--dca-black) 10%);
    --close-button-bg: var(--button-bg);
    --close-button-hover-bg: var(--button-hover-bg);
    --delete-button-bg: var(--dca-red);
    --delete-button-hover-bg: color-mix(in srgb, var(--delete-button-bg), black 10%);

    --object-tools-fg: var(--body-fg);
    --object-tools-bg: var(--dca-white);
    --object-tools-hover-bg: var(--button-hover-bg);
}

:root {
    color-scheme: dark light;
    --dca-dark: #2d4c4d;
    --dca-light: #defcb9;
    --dca-white: light-dark(#FFF, #000);
    --dca-black: light-dark(#2a2c2e, rgb(from white calc(r - 45) calc(g - 44) calc(b - 46)));
    --dca-primary: light-dark(var(--dca-dark), rgb(from var(--dca-light) calc(r - 45) calc(g - 44) calc(b - 46)));
    --dca-secondary: light-dark(var(--dca-light), var(--dca-dark));
    --dca-red: #d44848;
    --dca-action-bg: var(--dca-secondary);
    --dca-action-text: var(--dca-black);
    --dca-gray: light-dark(#7c7c7c, #aaa);
    --dca-gray-super-lightest: light-dark(#f7f7f7, #303030);
    --dca-gray-lightest: light-dark(#f7f7f7, #303030);
    --dca-gray-lighter: light-dark(#ddd, #666);
    --dca-gray-light: light-dark(#999, #888);
    --dca-gray-darker: light-dark(#454545, #ddd);
    --dca-gray-darkest: light-dark(#333, #eee);
    --dca-border-radius: 20px;
    --dca-btn-radius: 40px;
    --dca-default-spacing: 2px;
}

:root[data-cms-theme="4"], body.cms-4 {
    --dca-dark: #00bbff;
    --dca-light: color-mix(in srgb, var(--dca-dark), var(--dca-white) 55%);
    --dca-white: light-dark(#FFF, #000);
    --dca-black: light-dark(#000, #FFF);
    --dca-primary: light-dark(var(--dca-dark), color-mix(in srgb, var(--dca-dark), black 20%));
    --dca-secondary: var(--dca-gray-lighter);
    --dca-red: #d44848;
    --dca-action-bg: var(--dca-primary);
    --dca-action-text: var(--dca-white);
    --dca-gray: light-dark(#7c7c7c, #aaa);
    --dca-gray-super-lightest: light-dark(#f7f7f7, #303030);
    --dca-gray-lightest: light-dark(#f7f7f7, #303030);
    --dca-gray-lighter: light-dark(#ddd, #666);
    --dca-gray-light: light-dark(#999, #888);
    --dca-gray-darker: light-dark(#454545, #ddd);
    --dca-gray-darkest: light-dark(#333, #eee);
    --dca-border-radius: 5px;
    --dca-btn-radius: 3px;
    --dca-default-spacing: 0px;
}

:root[data-cms-theme="4"] body, body.cms-4 {
    --accent: var(--dca-primary);
    --message-success-bg: light-dark(#dfd, #006b1b);
}


[data-theme="auto"] {
    color-scheme: dark light;
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

/* =============================================================================
   TYPOGRAPHY
   ============================================================================= */
h1 {
    font-size: 1.6rem;
    padding: 8px 0;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
h4, .module h2, .module caption, .inline-group h2,
#changelist .actions label, label {
    font-size: 1rem;
}
h5, .small, td, th, thead th, .help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 0.875rem;
}
.mini {
    font-size: 0.75rem;
}
li, dt, dd {
    font-size: 1rem;
    line-height: 1.6rem;
}

table thead th .text span {
    padding: 8px 12px;
}

table thead th {
    text-transform: capitalize;
}

#changelist-filter {
    h3, li {
        font-size: 0.875rem;
    }
    li.selected {
        border-left-color: var(--primary);
    }
}


a.addlink {
    min-width: 16px;
    min-height: 16px;
}

/* =============================================================================
   LAYOUT & COMPONENTS
   ============================================================================= */

/* Admin header */
#header {
    background: var(--dca-dark);
    a:link, a:visited, #logout-form button {
        color: white;
    }
    #site-name a:link, #site-name a:visited {
        font-size: 1.2rem;
        color: var(--header-branding-color);
    }
}

/* Full width dashboard */

.dashboard #content {
    width: calc(100% - 340px);
}

/* Changelists */

#content-related, #changelist-filter {
    background: var(--dca-secondary);
    color: var(--body-fg);
    border-radius: var(--cards-border-radius);
    details > summary {
        border-radius: 0;
        padding-block: 5px;
    }
    padding-top: 15px;
    h2 {
        background: transparent;
    }
}

/* Page tree */
a.jstree-anchor {
    color: var(--body-fg);
    &:hover, &:link {
        color: var(--body-fg);
        text-decoration: none;
    }
}

/* Pagetree dropdowns */
.cms-pagetree-dropdown-menu li {
    a:link, a:visited {
        color: var(--dca-gray);
    }
}

/* Colors */
.module h2, .module caption, .dashboard a.section:link, .dashboard a.section:visited, .inline-group h2 {
    background: var(--body-bg);
    color: var(--body-fg);
}
.module .fieldset-heading, .module fieldset details > summary {
    background: var(--dca-primary);
    color: var(--dca-white);
    border-radius: 5px;
    #changelist-filter &::before {
        color: var(--dca-white);
    }
}

.module > h2:not(.fieldset-heading) {
    padding-inline-start: 0;
    border-style: none;
}

/* Navigation bar left */
#nav-sidebar {
    & .module caption {
        background: var(--primary);
    };

    & .section:link,
    & .section:visited,
    & .current-app .section:link,
    & .current-app .section:visited {
        color: var(--dca-white);
    };

    a {
        color: var(--body-fg);
    };
    .module{
        display: none;
        &:has(tr:not([style*="display: none"])) {
            display: unset;
        }
    }
}

/* =============================================================================
   OBJECT TOOLS
   ============================================================================= */

.object-tools {
    & a, & a:link, & a:visited {
        color: var(--object-tools-fg);
        border: 1px solid var(--dca-gray);
        border-radius: var(--button-radius);
        text-transform: none;
        font-size: 0.75rem;
        &.accent {
            color: var(--dca-action-text);
            border-color: var(--dca-gray);
            letter-spacing: var(--dca-default-spacing);
            text-transform: uppercase;
        }
        padding: 3px 12px;
    }
}


/* =============================================================================
   BUTTONS & INTERACTIVE ELEMENTS
   ============================================================================= */

/* Buttons */
.button.default, input[type=submit].default, .submit-row input.default {
    color: var(--dca-action-text);
    transition: filter 0.15s;
    letter-spacing: var(--dca-default-spacing);
}

/* =============================================================================
   FORMS & INPUTS
   ============================================================================= */


form {
    .aligned p.help,
    .aligned div.help,
    .wide p,
    .wide ul.errorlist,
    .wide input + p.help,
    .wide input + div.help {
        margin-inline-start: 0;
        padding-inline-start: 0;
    };
    button {
        padding: 5px 6px;
        vertical-align: middle;
        font-family: var(--font-family-primary);
        font-weight: normal;
        font-size: 0.8125rem;
        background-color: var(--default-button-bg);
        color: var(--default-button-fg);
        border: 1px solid var(--default-button-bg);
        border-radius: var(--button-radius);
    };

    .aligned :is(label, input, textarea, select) + :is(p, div.help, p.help, div.readonly),
    .aligned ul {
        margin-inline-start: 0;
        padding-inline-start: 0;
    };

    input, textarea, select, .form-row, .button {
        font-size: inherit;
    };
    .selector h2 {
        font-size: 1rem;
    };
    .selector input[type="text"] {
        padding: 5px 6px;
    };
    .selector label {
        float: inline-start;
    }
    .collapse summary .fieldset-heading, .collapse summary .inline-heading {
        margin-inline-start: 0.4em;
    }
    .description {
        padding-inline-start: 0;
    }

    /* Collapse link toggle*/
    fieldset .collapse-toggle {
        color: var(--dca-primary);
    }
}


/* Form submit buttons */
.submit-row {
    border: none;
    padding: 0;
    background: var(--dca-white);
    display: flex;
    flex-direction: row-reverse;
}
.delete-confirmation, .submit-row {
    a.deletelink {
        color: white;
        margin-inline-end: auto;
        margin-inline-start: 0;
    }
    a.closelink {
        color: var(--dca-black);
        background: var(--dca-white);
    }
    a.cancel-link {
        float: inline-end;
        color: var(--dca-black);
        background: var(--dca-white);
    }
}

a.button, .submit-row input[type="submit"] {
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid var(--dca-gray);
    border-radius: var(--button-radius);
}
.delete-confirmation form, form .submit-row {
    input[type="submit"], .deletelink, .closelink, .cancel-link {
        font-size: 14px;
        padding: 10px 15px;
        border: 1px solid var(--dca-gray);
        border-radius: var(--button-radius);
    }
}

/* Hide cancel-link in delete confirmation when in popup or modal */
.cms-admin-modal.delete-confirmation .cancel-link, .cms_modal-window.delete-confirmation .cancel-link,
.popup.delete-confirmation .cancel-link {
    display: none;
}


/* Make delete confirmation button text white */
.delete-confirmation form input[type="submit"] {
    color: var(--dca-white);
}


/* Form labels */
.inline-group h2 {
    font-weight: 600;
}

.aligned label:not(.btn) {
    width: inherit;
    color: var(--body-fg);
    font-weight: 600;
    line-height: 1.6em;
}

.aligned .checkbox-row label {
    width: auto;
    display: inline;
}

/* Forms */

.form-row .flex-container {
    margin-left: 0;
    margin-right: 0;
    display: block;  /* Label and input in separate lines */
    > input[type="checkbox"] {
        + label {
            display: inline-block;  /* except for checkboxes */
        }
        &::before {
            background-color: var(--primary);
        }
        vertical-align: middle;  /* works better for no particular reason */
    }
}
.flex-container.form-multiline {
    display: flex;
    flex-wrap: wrap;
    & > div {
        flex: 1 0 0;
        margin-inline-end: 20px;
    }
}
.form-multiline > div:last-child .fieldBox {
    margin-inline-end: 0;
}

.aligned .vCheckboxLabel {
    vertical-align: 0;
    max-width: calc(100% - 20px);;
}

.required label:not(.vCheckboxLabel):after,
label.required:not(.vCheckboxLabel):after {
    color: var(--delete-button-bg);
    content: "*";
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    font-size: 14px;
}

input[type="text"], input[type="url"], input[type="email"], .vLargeTextField, .vXMLLargeTextField, .vTextField, .vUUIDField,
.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField, .vURLField,
textarea {
    width: calc(100% - 14px);  /* 2x10px padding + 2px border */
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
    padding: 6px;
}

.datetime input, .form-row .datetime input.vDateField, .form-row .datetime input.vTimeField {
    margin-inline-start: 0;
    width: unset;
}

.form-row p.date, .form-row p.time, .form-row p.datetime {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#changelist-search input[type="text"] {
    width: unset;
}

input, textarea, select, .form-row p, form .button {
    font-family: unset;
}

div.form-row:not([hidden]) {
    padding-inline: 0;
    overflow: unset;
    margin-bottom: 1em;
}

/* Except user-auth change form */
.auth-user.change-form div.form-row:not([hidden]) {
    display: block;
}

div.form-row > div:not(.help) {
    flex: 1 0 0;
    width: 100%;
    margin-inline-end: 10px;
}

.form-row > ul.errorlist {
    width: 100%;
}

fieldset.collapse.collapsed .form-row {
    display: none;
}

.related-widget-wrapper {
    width: 100%;
}

.change-form select, .change-form .select2-container {
    width: 100%;
    li {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.875rem;
    }
}

.change-form .related-widget-wrapper > select,
.related-widget-wrapper > .select2-container {
    width: calc(100% - 120px);
}

.change-form .tabular .related-widget-wrapper > select,
.tabular .related-widget-wrapper > .select2-container {
    width: 2em;
}

/* =============================================================================
   FIXES & TRICKS
   ============================================================================= */

select {
    min-width: 10em;
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width: unset;
}

/* Remove wrong additional separator line for responsive display */
@media (max-width: 1024px) {
    form fieldset .fieldBox + .fieldBox {
        border-top: unset;
        margin-top: 0;
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .main.shifted > #nav-sidebar + .content {
        max-width: calc(100% - 299px);
    }
}

/* =============================================================================
   IMPROVED ADMIN SIDEBAR SEARCH
   ============================================================================= */

/* Hide components not needed in sidebar or modal */
.cms-admin a.skip-to-content-link {
    display: none;
}

.cms-admin-modal {
    #header,
    #content > h2,
    #nav-sidebar,
    #toggle-nav-sidebar,
    .breadcrumbs,
    .hide-in-modal,
    .object-tools {
        display: none;
    };
    #changelist {
        margin-top: 20px;
    };
    .object-tools {
        padding-top: 20px;
    };
    /* Remove space reserved for (hidden) sidebar */
    .main > #nav-sidebar + .content,
    .main.shifted > #nav-sidebar + .content {
        max-width: 100%;
    }
}

.cms-admin-sideframe {
    margin-top: 0;
    #header {
        display: none;
    };
    &:not(.delete-confirmation) #content > h2 {
        display: none;
    };
    #container {
        padding-top: 46px;
    };
    .object-tools {
        margin-top: -58px;
        /* margin-inline-end: 92px;  Space for cms navigation butons */
    }
}

/* Tables */
nav .module {
    & tr {
        height: 2.3rem;
    }

    & th, & td {
        border-bottom: 1px solid var(--dca-gray-lighter);
    }

    & th {
        font-weight: 400;
    }
    & h2, & caption {
        font-weight: 600;
    }
}

nav .module th {
    vertical-align: middle;  /* just the sidebar */
}

/* =============================================================================
   LANGUAGE TABS AND PARLER STYLES
   ============================================================================= */

/* Language tabs */

#page_form_lang_tabs {
    border-bottom: 2px solid var(--primary);
    input[type="button"] {
        font-weight: bold;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        margin-bottom: 0;
        padding: 5px 15px 5px 15px;
        &.language_button.selected {
            color: var(--dca-white);
            background-color: var(--primary);
            border-color: var(--primary);
        }
        &:not(.selected):hover {
            color: var(--body-fg);
            background-color: var(--dca-gray-lightest);
        }
        &.notfilled {
            font-weight: normal;
        }
        &:focus {
            background-color: inherit;
            outline: none;
        }
    }
}

/* Parler styles */

.djangocms-simple-admin-style .parler-language-tabs {
    border-bottom-color: var(--primary);
    a:link, a:visited {
        color: var(--body-fg);
    };
    span.available,
    span.current,
    span.empty {
        border-radius: 5px 5px 0 0;
    };
    span.current {
        color: var(--dca-white);
        background-color: var(--primary);
        border-color: var(--primary);
   }
}

/* Filer styles */

.insertlinkButton {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#00bbff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z'/%3E%3C/svg%3E");
}

/* CMS buttons */

.cms-btn-group {
    border: 1px solid var(--dca-gray-lighter);
    display: inline-block;
    background: var(--button-bg);
    color: var(--button-fg);
    border-radius: 0;
    padding: 10px 15px;
    line-height: 15px;
    margin-inline-start: -5px;
    margin-inline-end: 0;
}

.cms-btn {
    border: 1px solid var(--dca-gray-lighter);
    display: inline-block;
    background: var(--button-bg);
    color: var(--button-fg);
    border-radius: var(--button-radius);
    margin-inline-start: 5px;
}

a.cms-btn-group:link, a.cms-btn-group, a.cms-btn-group:hover {
    color: var(--button-fg);
}

.cms-btn-group:first-child {
    margin-inline-start: 5px;
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
}

.cms-btn-group:last-child {
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
}

.cms-btn-active {
    background-color: var(--dca-gray-lighter);
}

a.btn.cms-action-btn {
    width: 32px;
    height: 32px;
    bottom: -5px;
}

span.cms-empty-action:empty {
    width: 32px;
}


/* Reset some django styles */
input, textarea, select, .form-row p, form .button {
    margin-top: 0;
}

/* Icon adjustments */
.changelink, inline-changelink, .viewlink, .inline-viewlink, .hidelink, .inline-hidelink {
    background-position-y: 3px;  /* Move down smaller icons */
}
a.related-widget-wrapper-link > img {
    zoom: 0.8;
}

/* Dark mode toggles */
.theme-toggle {
    margin-inline-start: 0.6rem;
    svg {
        width: 1rem;
        margin-inline-start: 0.4rem;
        &.theme-icon-when-light {
            width: 1.4rem;
            margin-inline-start: 0;
        }
    }
}

.theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light {
    fill: white;
    color: var(--dca-dark);
}

/* Update message */
.cms-update-notification {
    text-align: center;
    font-size: 0.875rem;
    background: var(--dca-secondary);
    border-radius: var(--cards-border-radius);
    color: var(--body-fg);
    padding: 15px;
    margin-bottom: 15px;
    .close {
        float: inline-start;
        color: var(--body-fg);
    }
}