/* Theming: Colors and fonts for dark and light skins */

:root, body {
    --font-family-primary: Helvetica, Arial, sans-serif;

    --primary: var(--dca-primary);
    --secondary: var(--dca-white);
    --accent: var(--primary);
    --primary-fg: var(--dca-white);

    --body-fg: var(--dca-gray-darkest);
    --body-bg: var(--dca-white);
    /*--body-quiet-color: #666;*/
    /*--body-loud-color: #000;*/

    --header-color: var(--dca-black);
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--body-fg);

    --breadcrumbs-fg: var(--dca-gray);
    --breadcrumbs-link-fg: var(--dca-primary);
    --breadcrumbs-bg: var(--dca-gray-lightest);

    --link-fg: var(--dca-primary);
/*/   --link-hover-color: #48abd9;*/
/*    --link-selected-fg: #5b80b2;*/

/*    --hairline-color: #e8e8e8;*/
/*    --border-color: #ccc;*/

/*    --error-fg: #ba2121;*/

/*    --message-success-bg: #dfd;*/
/*    --message-warning-bg: #ffc;*/
/*    --message-error-bg: #ffefef;*/

    --darkened-bg: var(--dca-gray-lightest); /* A bit darker than --body-bg */
    /*--selected-bg: #e4e4e4; */
    /*--selected-row: #ffc; */

    --button-fg: var(--dca-gray-darker);
    --button-bg: var(--dca-white);
    --button-hover-bg: var(--dca-gray-lighter);
    --default-button-fg: var(--dca-white);
    --default-button-bg: var(--dca-primary);
    /*--default-button-hover-bg: #48abd9;*/
    /*--close-button-bg: #888; !* Previously #bbb, contrast 1.92 *!*/
    /*--close-button-hover-bg: #747474;*/
    /*--delete-button-bg: #f00;*/
    /*--delete-button-hover-bg: #a41515;*/

    --object-tools-fg: var(--body-fg);
    --object-tools-bg: vaR(--dca-white);
    --object-tools-hover-bg: var(--dca-gray-lighter);
}

root, :root[data-color-scheme="light"], :root[data-theme="light"],
html, html[data-color-scheme="light"], html[data-theme="light"] {
   color-scheme: light;
    --dca-light-mode: 1;
    --dca-dark-mode: 0;
    --dca-white: #FFFFFF;
    --dca-black: #000000;
    --dca-primary: #00bbff;
    --dca-gray: #666;
    --dca-gray-lightest: #f2f2f2;
    --dca-gray-lighter: #ddd;
    --dca-gray-light: #999;
    --dca-gray-darker: #454545;
    --dca-gray-darkest: #333;
    --dca-gray-super-lightest: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --dca-light-mode: 0;
        --dca-dark-mode: 1;
        --dca-white: #2A2C2E;
        --dca-black: #FFF;
        --dca-primary: #58D1FC;
        --dca-gray: #999;
        --dca-gray-lightest: #444;
        --dca-gray-lighter: #666;
        --dca-gray-light: #888;
        --dca-gray-darker: #aaa;
        --dca-gray-darkest: #eee;
        --dca-gray-super-lightest: #333;

        --active-brightness: 2;
        --focus-brightness: 1.5;
    }
}
root[data-color-scheme="dark"], :root[data-theme="dark"],
html[data-color-scheme="dark"], html[data-theme="dark"] {
    color-scheme: dark;
    --dca-light-mode: 0;
    --dca-dark-mode: 1;
    --dca-white: #2A2C2E;
    --dca-black: #FFF;
    --dca-primary: #58D1FC;
    --dca-gray: #999;
    --dca-gray-lightest: #444;
    --dca-gray-lighter: #666;
    --dca-gray-light: #888;
    --dca-gray-darker: #aaa;
    --dca-gray-darkest: #eee;
    --dca-gray-super-lightest: #333;

    --active-brightness: 2;
    --focus-brightness: 1.5;
}

/* Full width dashboard */

.dashboard #content {
    width: calc(100% - 340px);
}


h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

h4, td, th, .module caption, .inline-group h2 {
    font-size: 0.875rem;
}

h5, .small, .help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 0.75rem;
}

.mini {
    font-size: 0.6815rem;
}

li, dt, dd {
    font-size: 0.875rem;
    line-height: 1.4rem;
}

.module h2, .module caption, .inline-group h2 {
    background: var(--body-bg);
    color: var(--body-fg)
}

#nav-sidebar .module caption {
    background: var(--primary);
}
#nav-sidebar .section:link,
#nav-sidebar .section:visited,
#nav-sidebar .current-app .section:link,
#nav-sidebar .current-app .section:visited {
    color: var(--dca-white);
}

#nav-sidebar a {
    color: var(--body-fg);
}

.submit-row {
    background: var(--dca-white, #fff);
}

.button.default, input[type=submit].default, .submit-row input.default {
    color: var(--dca-white, #fff);
}

.submit-row a.deletelink, .submit-row a.deletelink,
.submit-row a.deletelink {
    color: var(--dca-white, #fff);
}

.object-tools a {
    border-radius: 3px;
    border: 1px solid var(--dca-gray-lighter);
}

.object-tools a.addlink {
    color: var(--default-button-fg);
    border-color: var(--default-button-fg);
    background-color: var(--default-button-bg);
}

.object-tools a.addlink:focus, .object-tools a.addlink:hover{
    background-color: var(--default-button-hover-bg);
}

body.djangocms-simple-admin-style #page_form_lang_tabs input[type=button].language_button.selected {
    color: var(--default-button-fg);
    background-color: var(--default-button-bg);
    border-color: var(--default-button-bg);
}

th {
    font-weight: 400;
}

.module h2, .module caption, .inline-group h2 {
    font-weight: 600;
}

.aligned label {
    float: unset;
    width: unset;
    display: block;
    color: var(--body-fg);
    font-weight: 600;
}

.flex-container {
    display: block;
}

.aligned .fieldBox > label:first-child, .form-row > div > label {
    display: block;
}

.required label:not(.vCheckboxLabel):after, label.required:not(.vCheckboxLabel):after {
    color: var(--delete-button-bg);
    content: "*";
}

form .aligned p.help, form .aligned div.help {
    margin-left: 0;
    padding-left: 0;
}

form button {
    margin: 2px 0;
    padding: 5px 6px;
    vertical-align: middle;
    font-family: var(--font-family-primary);
    font-weight: normal;
    font-size: 0.8125rem;
    background-color: var(--default-button-bg);
    color: var(--default-button-fg);
    border: 1px solid var(--default-button-bg);
    border-radius: 3px;
}

.aligned label + p, .aligned label + div.help, .aligned label + div.readonly,
form .aligned input + p.help, form .aligned textarea + p.help, form .aligned select + p.help,
form .aligned input + div.help, form .aligned textarea + div.help, form .aligned select + div.help {
    margin-left: 0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    border: 1px solid var(--dca-gray-lighter, #ddd);
}

a.btn {
    color: var(--body-fg);
    border: 1px solid var(--dca-gray-lighter, #ddd);
}

input[type="text"], .vLargeTextField, .vXMLLargeTextField, .vTextField, .vUUIDField,
.colM .aligned .vLargeTextField, .colM .aligned .vXMLLargeTextField, .vURLField,
.flex-container textarea {
    width: calc(100% - 10px);
}

#changelist-search input[type="text"] {
    width: unset;
}

input, textarea, select, .form-row p, form .button {
    font-family: unset;
}

div.form-row {
    display: flex;
    flex: 1 0 0;
}

.form-row > div {
    width: 100%;
    max-width: 100%;
}

fieldset.collapse.collapsed .form-row {
    display: none;
}

.select2 {
    width: calc(100% - 40px) !important;
}

.flex-container .related-widget-wrapper, .flex-container select, .flex-container .select2-container {
    width: 100%;
}

.related-widget-wrapper select {
    width: calc(100% - 92px);
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width: unset;
}

/* Hide components not needed in sidebar or modal */

body.cms-admin a.skip-to-content-link {
    display: none;
}

body.cms-admin-sideframe #header, body.cms-admin-modal #header {
    display: none;
}

body.cms-admin-sideframe #container {
    padding-top: 46px;
}

body.cms-admin-sideframe #content > h1 {
    display: none;
}

body.cms-admin-modal .content {
    margin-top: 36px;
}
body.cms-admin-modal .breadcrumbs,
body.cms-admin-modal #toggle-nav-sidebar,
body.cms-admin-modal #nav-sidebar {
    display: none;
}

body.cms-admin-sideframe.djangocms-simple-admin-style {
    margin-top: 0;
}
