:root, body {
    --font-family-primary: Helvetica, Arial, sans-serif;

    --primary: var(--dca-primary);
    --secondary: var(--dca-white);
    --accent: #f5dd5d;
    --primary-fg: var(--dca-white);

    --body-fg: var(--dca-gray-darkest);
    --body-bg: var(--dca-white);
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --header-color: var(--dca-black);
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--dca-primary);

    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: var(--dca-primary);
    --link-hover-color: #48abd9;
    --link-selected-fg: #5b80b2;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;

    --button-fg: var(--dca-gray-darker);
    --button-bg: var(--dca-white);
    --button-hover-bg: var(--dca-gray-lighter);
    --default-button-fg: var(--dca-white);
    --default-button-bg: var(--dca-primary);
    --default-button-hover-bg: #48abd9;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #f00;
    --delete-button-hover-bg: #a41515;

    --object-tools-fg: var(--body-fg);
    --object-tools-bg: vaR(--dca-white);
    --object-tools-hover-bg: var(--dca-gray-lighter);
}

:root, :root[data-color-scheme="light"], :root[data-theme="light"],
html, html[data-color-scheme="light"], html[data-theme="light"] {
   color-scheme: light;
    --dca-light-mode: 1;
    --dca-dark-mode: 0;
    --dca-white: #FFFFFF;
    --dca-black: #000000;
    --dca-primary: #00bbff;
    --dca-gray: #666;
    --dca-gray-lightest: #f2f2f2;
    --dca-gray-lighter: #ddd;
    --dca-gray-light: #999;
    --dca-gray-darker: #454545;
    --dca-gray-darkest: #333;
    --dca-gray-super-lightest: #f7f7f7;
}

root[data-color-scheme="dark"], :root[data-theme="dark"] {
    color-scheme: dark;
    --dca-light-mode: 0;
    --dca-dark-mode: 1;
    --dca-white: #2A2C2E;
    --dca-black: #FFF;
    --dca-primary: #58D1FC;
    --dca-gray: #999; // $gray-light;
    --dca-gray-lightest: #444; //$gray-darkest;
    --dca-gray-lighter: #666; //$gray-darker;
    --dca-gray-light: #888; // $gray-light;
    --dca-gray-darker: #aaa; //$gray;
    --dca-gray-darkest: #eee; // $gray-lighter;
    --dca-gray-super-lightest: #333;

    --active-brightness: 2;
    --focus-brightness: 1.5;
}

.dashboard #content {
    width: calc(100% - 340px);
}

a.skip-to-content-link {
    display: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

h4, td, th, .module caption, .inline-group h2 {
    font-size: 0.875rem;
}

h5, .small, .help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 0.75rem;
}

.mini {
    font-size: 0.6815rem;
}

li, dt, dd {
    font-size: 0.875rem;
    line-height: 1.4rem;
}

.module h2, .module caption, .inline-group h2 {
    background: 0 0;
}

a.section:link, a.section:visited {
    color: var(--body-fg);
}

.submit-row {
    background: var(--dca-white, #fff);
}

.button.default, input[type=submit].default, .submit-row input.default {
    color: var(--dca-white, #fff);
}

.submit-row a.deletelink, .submit-row a.deletelink,
.submit-row a.deletelink {
    color: var(--dca-white, #fff);
}

.object-tools a {
    border-radius: 3px;
    border: 1px solid var(--dca-gray-lighter, #ddd);
}

th {
    font-weight: 400;
}

.module h2, .module caption, .inline-group h2 {
    font-weight: 600;
}

.aligned label {
    /* float: unset; */
    display: inline-block;
    color: var(--body-fg);
    font-weight: 600;
}

.aligned .fieldBox > label:first-child {
    display: block;
}

form .aligned p.help, form .aligned div.help {
    margin-left: 0;
    padding-left: 0;
}

.aligned label + p, .aligned label + div.help, .aligned label + div.readonly,
form .aligned input + p.help, form .aligned textarea + p.help, form .aligned select + p.help,
form .aligned input + div.help, form .aligned textarea + div.help, form .aligned select + div.help {
    margin-left: 0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    border: 1px solid var(--dca-gray-lighter, #ddd);
}

a.btn {
    color: var(--body-fg);
    border: 1px solid var(--dca-gray-lighter, #ddd);
}

body.cms-admin-sideframe #header { 
    display: none;
}

body.cms-admin-sideframe .breadcrumbs {
    margin-top: 46px;
}
